Code/.idea
Code/data/**/*.txt
Code/eigen
Code/build
Code/cmake-build-debug/**

RungeKutta/matlabPlots/**/*.txt
RungeKutta/matlabPlots/**/*.mat
RungeKutta/eigen
RungeKutta/build
RungeKutta/matlabPlots/GAIO-master/**
RungeKutta/.idea
RungeKutta/cmake-build-debug/**
RungeKutta/getpot-c++/**

RandomPDE/eigen
RandomPDE/build
RandomPDE/.idea
RandomPDE/cmake-build-debug/**
RandomPDE/matlabPlots/**/*.mat
RandomPDE/matlabPlots/**/*.txt
RandomPDE/matlabPlots/FEM_library/**

Reports/**/*.aux
Reports/**/*.eps
Reports/**/*.log
Reports/**/*.blg
Reports/**/*.nav
Reports/**/*.out
Reports/**/*.synctex.gz
Reports/**/*.bbl
Reports/Poster_Orane/**

matlabCode/**
